/* Reset default styles and set font family */
body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient( to bottom right, #ffa6e5 0%, #3631c5 36%, #3631c5 66%, #ffa6e5 100% );
    overflow-x: hidden;
}

/* Header styling */
nav {
    background: black;
    height: 80px;
    width: 100%;
}

.Logo {
    color: white;
    font-size: 3rem;
    padding: 0 100px;
    font-weight: bold;
    position: relative;
    top: 19px;
    left: -78px;
    font-size: 37px;
}

nav ul {
    float: right;
    margin-right: 20px;
    margin-top: 24px;
}

nav ul li {
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(219, 195, 195);
    font-size: 17px;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: white;
}

/* Contact section */
.contact {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.contact h2 {
    font-size: 2em;
    position: relative;
    right: -90px;
}

.contact-form {
    flex: 1;
    padding-right: 244px;
    padding-bottom: 50px;
}

.contact-info {
    flex: 1;
    background-color: linear-gradient( to bottom right, rgb(245, 245, 245, 0.45),rgb(245, 245, 245, 0.5)) ; 
    padding-bottom: 20px;
    border-radius: 50px;
}

.contact-info p {
    margin: 0;
}

.contact-info a {
    text-decoration: none;
    color: #333;
}

.map {
    margin-top: 20px;
}

/* Footer styling */
.mark {
    padding-top: 20px;
    color: white;
    background-color: black;
    height: 40px;
    margin-top: 239px;
    position: relative;
    top: 23px;/* This seems like an arbitrary margin, consider adjusting for better positioning */
}
