*{
    margin: 0;
}
    body{
    font-family: montserrat;
    background-image: linear-gradient( to bottom right, #e612a7 0%, #05032a 36%, #dfdfe7 66%, #f016af 100% );
    overflow-x: hidden;
}
body{
    font-family: montserrat;
}
nav{
    background: #e03f3f;
    height: 80px;
    width: 100%;
}

#cont1{
    font-size: 1.3rem;
}

.Logo{
    color: white;
    font-size: 3rem;
    padding: 0 100px;
    font-weight: bold;
    }
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

.container{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    border: 2px white;
    width: 100%;
    flex-wrap: wrap;
}
#cont2{
    border: 1px solid black;
    width: 40%;
    height: 300px;
}

#cont2 iframe{
    width: 100%;
    height: 100%;
}
.marq{
    margin-top: 50px;
    height: 200px;
    border: 1px white;
}

#img1{
    padding-bottom: 76px;
}
#img2{
    padding-bottom: 100px;
}
#img3{
    padding-left: 66px;
    padding-bottom: 100px;
    height: 142px;
    width: 160px;
}
#img4{
    padding-bottom: 101px;
    padding-left: 66px;
    height: 142px;
    width: 160px;
}
#img5{
    padding-bottom: 101px;
    padding-left: 66px;
    height: 142px;
    width: 160px;
}
#pin{
    margin-top: -70px;
}
#pin img{
    height: 455px;
    width: 505px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 3px;
}
.flex{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    border: 2px white;
    width: 100%;
    flex-wrap: wrap;
}
#con2{
    color: white;
    text-align: center;}
.mark{
    padding-top: 20px;
    color: white;
    background-color: black;
    height: 40px;
    margin-top: -17px;
}
.hed{
    font-size: 2.8rem;
}
.para{
    font-size: 1.3rem;
}

.foot{
    margin-right: 50px;
    margin-bottom: 30px;
}

.foot img{
    width: 30px;
}

#link{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}